#paddle1 {
  position:absolute;
  left:10px;
  top:460px;
  width:10px;
  height:150px;
  background-color:white;
}

#paddle2 {
  position:absolute;
  right:10px;
  top:460px;
  width:10px;
  height:150px;
  background-color:white;
}
